[wpe 2.38][webrtc] Query - Is there any option to configure RTCPeerConnection to use STUN over TCP?

While testing STUN over UDP, TCP & TLS over TCP, we found there is way to test it for both UDP & TLS over TCP. But we were not able to configure RTCPeerConnection to use STUN over TCP. Could you please let us know if this is supported.
 
STUN RFC(RFC-5389, section 7.2) specifies all 3 types of transport are supported UDP, TCP, TLS over TCP, default being UDP. 
With W3C API specification, webRTC peer @ STB Browser doesn't have a option to configure STUN over TCP. see @ https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/RTCPeerConnection#iceservers
 
STUN over UDP by
const iceServers = [
    { urls: "stun:stun.l.google.com:19302" }
];
 
STUN over TLS by
 
const iceServers = [
    { urls: "stuns:stun.l.google.com:19302" }
];

In the above config, we can identify STUN over UDP with **stun** and STUN over TLS with **stuns** in the urls parameter. Similarly, is there any option to configure STUN over TCP?

AFAIK STUN over TCP is not supported. You should use a TURN server if TCP is required.

So something like `turn:ip-goes-here:port-goes-here?transport=tcp`.

Thanks @philn for your response.